<h3>Mualliflar</h3>
{{!-- <link rel="stylesheet" href="/css/author.css" />
<div class="container" style="display: flex; gap: 15px">
  {{#each authors}}
    <ul class="catCardList">
      <li class="catCardList">
        <div class="catCard"><a href="https://shorturl.at/GLfcw"><img
              src="https://shorturl.at/GLfcw"
              alt=""
            /></a>
          <div class="lowerCatCard">
            <h3>{{first_name}}</h3>
            <h6>{{last_name}}</h6>
            <div class="startingPrice">Nick name:
              <span>{{nick_name}}</span></div>
            <h6>Info:</h6>
            <p> {{info}}</p>
            <h6>Position:</h6>
            <p>{{position}}</p>
            <h5>Contact info</h5>
            <ul>
              <h7>Email: {{email}}</h7>
              <h7>Phone: {{phone}}</h7>
              
            </ul>
          </div>
        </div>
      </li>

    </ul>
  {{/each}}
</div> --}}

<ul id="list-authors"></ul>

<script src="./js/script.js"></script>

<script>
  getAuthors()
</script>